.page-header {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    .page-title {
        position: absolute;
        top: 20%;
        left: 10%;
    }
}

@media only screen and (max-device-width: 1366px) {
    .page-header {
        .page-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            
            h4 {
                text-shadow: 2px -2px #fff;
            }
        }
    }
}

#header {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/c_scale,q_auto,w_1920/v1556225434/mainBackgroud.webp);
}

#logotipos {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556087881/websites/portfoliologotipocover.webp);
}

#websites {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556087882/websites/portfoliowebcover.webp);
}

#blog {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556226703/blogcover.webp);
}

@media only screen and (max-device-width: 1366px) {
    #header {
        background-image: url(https://res.cloudinary.com/izitech/image/upload/c_limit,q_60,w_1366/v1556225434/mainBackgroud.png);
    }

    #logotipos {
        background-image: url(https://res.cloudinary.com/izitech/image/upload/c_limit,q_60,w_1366/v1556087881/websites/portfoliologotipocover.png);
    }
    
    #websites {
        background-image: url(https://res.cloudinary.com/izitech/image/upload/c_limit,q_60,w_1366/v1556087882/websites/portfoliowebcover.png);
    }
    
    #blog {
        background-image: url(https://res.cloudinary.com/izitech/image/upload/c_limit,q_60,w_1366/v1556226703/blogcover.png);
    }
}