.page-header {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .page-title {
        position: absolute;
        top: 20%;
        left: 10%;
    }
}

#header {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/c_scale,q_auto,w_1920/v1556225434/mainBackgroud.png);
}

#logotipos {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556087881/websites/portfoliologotipocover.png);
}

#websites {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556087882/websites/portfoliowebcover.png);
}

#blog {
    background-image: url(https://res.cloudinary.com/izitech/image/upload/q_auto/v1556226703/blogcover.png);
}
