/* 1. Colors
   ========================================================================== */

$primary-color: #8d032a !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: #e46644 !default;
$link-color: $primary-color-light !default;

/* 4. Cards
   ========================================================================== */

$card-padding: 20px !default;
$card-bg-color: var(--bg) !default;
$card-link-color: #FF931E !default;
$card-link-color-light: $primary-color-light !default;


/* 13. Navigation Bar
   ========================================================================== */

$navbar-height: 80px !default;
$navbar-height-mobile: 80px !default;
$navbar-font-color: var(--link) !default;
$navbar-brand-font-size: 2.1rem !default;


/* 14. Side Navigation
   ========================================================================== */

$sidenav-font-color: var(--link) !default;
$sidenav-bg-color: var(--bg) !default;
$sidenav-padding-right: 30px !default;
$sidenav-item-height: 64px !default;

/* 24. Progress Bar
   ========================================================================== */

$progress-bar-color: $secondary-color !default;

/* 21. Footer
   ========================================================================== */

$footer-bg-color: var(--bg) !default;