---
layout: default
title: "Portfólio - Web Sites"
permalink: /websites/
---

<header class="primary-color white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include pc.svg %}
            </div>
    
            <div class="col s12 l6">
                <div class="center">
                    <h1>Portfólio</h1>
                    <h2>Web Sites</h2>
                    <p class="center-align">Gostou? Interessou-se pelos nossos productos e serviços?</p>
                    <a href="mailto:{{ site.email }}" title="Email" class="btn-large waves-effect waves-light">entre em contacto já!</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="section">
    <div class="container">
        {% include portfolio_web.html %}
    </div>
</section>