---
layout: default
title: "Portfólio"
permalink: /portfolio/
---

<section class="section grey lighten-4">
    <div>
        <div id="web">
            <div class="row">
                {% for item in site.web %}
                    <div class="col s12 l3">
                        <div class="card medium hoverable">
                            <div class="card-image">
                                <img src="{{ item.image_path }}" alt="{{ item.title }}">
                            </div>
                            <div class="card-content">
                                <h4 class="center-align">{{ item.title }}</h4>
                            </div>
                            <div class="card-action">
                                <div class="center">
                                    <a href="{{ item.link }}" target="_blank" class="btn-flat waves-effect">Visite o Site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="graphic">
            <div class="row">
                {% for item in site.graphic %}
                    <div class="col s12 l3">
                        <div class="card medium hoverable">
                            <div class="card-image">
                                <img src="{{ item.image_path }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                            </div>
                            <div class="card-content">
                                <h4 class="center-align">{{ item.title }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>