<section class="section primary-color white-text">
    <div class="section-grid container">
        <article class="row">
            {% for item in site.portfolio_websites limit: 2 %}
                <div class="col s12 l6">
                    <a href="{{ item.link }}" title="{{ item.title }}">
                        <img data-src="{{ item.image }}" alt="{{ item.title }}" class="lazy" data-aos="zoom-in" data-aos-duration="3000">
                    </a>
                </div>
            {% endfor %}
        </article>

        <article  data-aos="zoom-in-left" data-aos-duration="3000">
            <h4 class="bolder">Design Web</h4>

            <p>Foi assim que viemos a existir, pela paixão do desenvolvimento web e no desejo de ver todas empresas locais com websites dignos a comparação internacional. <br> Estamos preparados para desenvolver vários tipos de projectos web, desde um simples blog a um portal web ou um sistema de Gestão. Visite nosso portfólio e aprecie os nossos projectos baseados na web. Brevemente apresentaremos mais.</p>
        </article>
    </div>
    <br>
    <div class="center">
        <a href="/portfolio/websites/" title="Web Sites" class="btn waves-effect waves-light">Veja Mais</a>
    </div>
</section>