<li>
    <a href="/" class="waves-effect waves-light" title="Página Inicial"><i class="fas fa-home"></i> <div class="hide-on-large-only">Página Inicial</div></a>
</li>
{% if page.layout == "default" %}
    {% for item in site.data.nav %}
        <li>
            <a href="{{ item.url }}" title="{{ item.title }}" class="waves-effect waves-light">{{ item.title }}</a>
        </li>
    {% endfor %}

    {% else %}
        {% for item in site.data.pages-nav %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" class="waves-effect waves-light">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
{% endif %}