{% if page.layout == "default" %}
    {% for item in site.data.nav %}
        <li>
            <a href="{{ item.url }}" title="{{ item.title }}" class="waves-effect waves-primary primary-color-text">{{ item.title }}</a>
        </li>
    {% endfor %}

    {% else %}
        {% for item in site.data.pages-nav %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" class="waves-effect waves-primary primary-color-text">
                    <i class="fas fa-fw fa-{{ item.icon }}"></i> {{ item.title }}
                </a>
            </li>
        {% endfor %}
{% endif %}