<div class="navbar-fixed">
    <nav class="nav-extended bg-color">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" title="{{ site.title }}" class="brand-logo center">
                    {% include nav/IZILogotipo.svg %}
                </a>
    
                <a style="cursor: pointer;" data-target="sideNav" class="sidenav-trigger"><i class="fas fa-lg fa-bars"></i></a>
    
                <ul class="left hide-on-med-and-down">
                    {% include nav/nav.html %}
                </ul>
            </div>

            <div class="nav-content">
                <button id="theme-toggle" onclick="modeSwitcher()" class="btn-floating btn-large halfway-fab waves-effect waves-circle waves-light">
                    <i class="fas fa-lightbulb"></i>
                </button>
            </div>
        </div>
    </nav>
</div>

{% include contact-form/contact-modal.html %}