<section class="section">
    <div>
        <h2 class="center-align">Artigos Recentes</h2>
        <div class="row">
            {% for post in site.posts limit: 4 %}
                <div class="col s12 l3">
                    <div class="card medium hoverable grey lighten-4">
                        <div class="card-image">
                            <a href="{{ post.url }}" title="{{ post.title }}">
                                <img src="{{ post.image }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        <div class="card-action">
                            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="center">
                <a href="/blog/" title="Blogue" class="btn-large waves-effect waves-light">Veja Mais no Blogue</a>
            </div>
        </div>
    </div>
</section>