<section class="section white">
    <div class="container">
        <h2 class="center-align">Design Web</h2>
        <br><br>
        <div class="row">
            <div class="col s12 l6" style="border: 1px solid #cc3333; border-radius: 10px;">
                <p class="flow-text center-align">Design Web</p>
                <p class="flow-text center-align">Mobile-First</p>
                <p class="flow-text center-align">Design Responsivo</p>
                <p class="flow-text center-align">AMP (Accelerated Mobile Pages)</p>
            </div>

            <div class="col s12 l6">
                {% include rwd.svg %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="center-align">Design Gráfico</h2>
        <br><br>
        <div class="row">
            <div class="col s12 l6">
                <img src="/assets/img/wearing.png" alt="Identidade Visual de {{ site.title }}">
            </div>

            <div class="col s12 l6" style="border: 1px solid #444; border-radius: 10px;">
                <p class="flow-text center-align">Identidades Visuais</p>
                <p class="flow-text center-align">Logotipos</p>
                <p class="flow-text center-align">Cartões de Visita</p>
                <p class="flow-text center-align">Crachás de Identificação</p>
                <p class="flow-text center-align">Cartazes</p>
                <p class="flow-text center-align">Fardas, Camisas, Camisetes e bonés</p>
            </div>
        </div>
    </div>
</section>

<section class="section white">
    <div class="container">
        <h2 class="center-align">IZImail - Email Profissional</h2>
        <br><br>
        <div class="row">
            <div class="col s12 l6">
                {% include izimail-wallpaper.svg %}
            </div>

            <div class="col s12 l6" style="border: 1px solid #c33; border-radius: 10px;">
                <p class="flow-text center-align">Alias</p>
                <p class="flow-text center-align">Web Mail</p>
                <p class="flow-text center-align">Anti-Spam</p>
                <p class="flow-text center-align">Suporte Móvel</p>
                <p class="flow-text center-align">Multi Plataforma</p>
                <p class="flow-text center-align">Colaboração Integrada</p>
                <p class="flow-text center-align">Armazenamento em Nuvem</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="center-align">Consultoria</h2>
        <br><br>
        <div class="row">
            <div class="col s12 l6" style="border: 1px solid #444; border-radius: 10px;">
                <p class="flow-text center-align">Base de Dados</p>
                <p class="flow-text center-align">Office Avançado</p>
                <p class="flow-text center-align">Sistemas de Gestão</p>
                <p class="flow-text center-align">Instalação de Sistemas Operativos</p>
                <p class="flow-text center-align">Formação de Colaboradores</p>
                <p class="flow-text center-align">Reparação & Manutenção de Computadores</p>
            </div>

            <div class="col s12 l6">
                {% include office_desk.svg %}
            </div>
        </div>
    </div>
</section>