<section class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include devices_description.svg %}
            </div>

            <div class="col s12 l6">
                {% include rwd.svg %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include identidade_visual_izitag.svg %}
            </div>

            <div class="col s12 l6">
                {% include graphic_description.svg %}
            </div>
        </div>
    </div>
</section>

<section class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include cons_desc.svg %}
            </div>

            <div class="col s12 l6">
                {% include office_desk.svg %}
            </div>
        </div>
    </div>
</section>