<footer class="page-footer white-text">
    <div class="container">
        <div class="row">
            <div id="sobre" class="col s12 l4 scrollspy">
                <h3 class="light center-on-small-only">Quem Somos</h3>
                <p class="light">
                    IZItag é uma marca fundada por um estudante de Informática entusiasmado com as possibilidades que a Web pode oferecer. Junto aos seus colegas e alguns amigos que ajudaram-no tornar sua visão uma realidade. 
                    Constituindo assim uma marca empenhada na revolução de identidades visuais moçambicanas. 
                    Desde o Design Web, Gráfico, Tipográfico entre outras áreas da Informática.
                </p>
            </div>

            <div class="col s12 l4">
                <h3 class="light center-on-small-only">Socialize-se</h3>
                <div class="center-on-small-only">
                    {% include social.html %}
                </div>
            </div>

            <div id="afiliados" class="col s12 l4 scrollspy">
                <h3 class="light center-on-small-only">Afiliados</h3>
                <div class="center-on-small-only">
                    {% include afiliados.html %}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="center">&copy; {{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}</div>
        </div>
    </div>
</footer>