<div class="divider"></div>
<footer class="page-footer bg-color the-text">
    <div class="container">
        <div class="row">
            <div class="col s12 l4 scrollspy">
                <h6 class="bolder">Localize-nos</h6>
                
                <ul>
                    <li><i class="fas fa-map-marker"></i> Bairro Samora Moíses Machel</li>
                    <li><i class="fas fa-map-marker-alt"></i> Tete, Moçambique</li>
                    <li><i class="fas fa-mobile"></i> <a href="tel:+258 87 879 0215" title="Telefone" class="the-text">+258 87 879 0215</a></li>
                    <li><i class="fas fa-mobile-alt"></i> <a href="tel:+258 86 879 0215" title="Telefone" class="the-text">+258 86 879 0215</a></li>
                    <li><i class="fas fa-envelope-open-text"></i> <a href="mailto:{{ site.email }}" title="Email" class="the-text">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="col s12 l4">
                <h6 class="bolder">Siga-nos</h6>
                {% include social.html %}
            </div>

            <div id="afiliados" class="col s12 l4 scrollspy">
                <h6 class="bolder">Parceiros</h6>
                {% include afiliados.html %}
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="center the-text">&copy; {{ site.time | date: "%Y" }} {{ site.title }} - {{ site.description }}</div>
        </div>
    </div>
</footer>