<div {% if page.title == "Logotipos" %}id="logotipos" {% elsif page.title == "Websites" %}id="websites" {% elsif page.title == "Blog" %}id="blog" {%else %}id="header"{% endif %} class="section page-header {% if page.layout == "default" %}grey lighten-4{% endif %} ">
    <div class="container">
        <div class="page-title">
            <a href="/">
                <img src="{{ site.logo }}" alt="{{ site.title }}" style="width: 50%">
            </a>
            {% if page.layout == "page" %}
                <h3 class="bolder primary-color-text"> {% unless page.title == "Blog" %}Portfólio |{% endunless %} {{ page.title }}</h3>
            {% endif %}
            {% include cta.html %}
            <br>
            {% include social.html %}
        </div>
    </div>
</div>