<header class="primary-color white-text">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="center">
                <div class="col s12 l6">
                    {% include pc.svg %}
                </div>
                <div class="col s12 l6">
                    {% include description.svg %}
                    <br><br><br>
                    <a href="mailto:{{ site.email }}" title="Email" class="btn-large waves-effect waves-light">contacte-nos</a>
                    <a href="#sobre" title="Quem Somos" class="white-text btn-large btn-flat waves-effect">conheça-nos</a>
                </div>
            </div>
        </div>
    </div>
</header>