<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="author" content="{{ site.author }}">
    <meta name="reply-to" content="{{ site.email }}">

    {% seo %}

    {% include favicons.html %}

    {% include scssify.html %}
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
</head>