<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" title="{{ site.title }}" class="brand-logo">{{ site.title }}</a>
                <a href="#" data-activates="sideNav" class="button-collapse"><i class="fa fa-navicon"></i></a>

                <ul class="right hide-on-med-and-down">
                    {% for item in site.data.nav %}
                        <li {% if item.link == page.url %} class="active" {% endif %}>
                            <a href="{{ item.link }}" title="{{ item.name }}" class="waves-effect waves-light">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if page.title == "Portfólio" %}
            <div class="nav-content">
                <div class="container">
                    <ul class="tabs tabs-transparent">
                        <li class="tab">
                            <a href="#web" title="Design Web">Design Web</a>
                        </li>

                        <li class="tab">
                            <a href="#graphic" title="Design Gráfico">Design Gráfico</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </nav>
</div>