<div id="graphic">
    <div class="row">
        {% for item in site.graphic %}
            <div class="col s12 l4">
                <div class="card medium hoverable">
                    <div class="card-image">
                        <img src="{{ item.image_path }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                    </div>
                            
                    <div class="card-content">
                        <h4 class="center-align">{{ item.title }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>