<header class="primary-color white-text">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% include rwd.svg %}
            </div>
        
            <div class="col s12 l6">
                <div class="center">
                    <h1>{{ layout.title }}</h1>
                    <h2>{{ page.description }}</h2>
                    <p class="center-align flow-text">Gostou? <br> Interessou-se pelos nossos productos e serviços?</p>
                    <a href="mailto:{{ site.email }}" title="Email" class="btn-large waves-effect waves-light">contacte-nos já!</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</header>