<section id="servicos" class="section scrollspy">
    <div class="container">
        <h2 class="center-align">Serviços Oferecidos</h2>
        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l4">
                    <div class="center">
                        <span class="fa fa-5x fa-{{ item.icon }}"></span>
                        <h3 class="center-align">{{ item.title }}</h3>
                        {{ item.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>