<section id="servicos" class="section scrollspy">
    <div class="container">
        <h2 class="center-on-small-only">Serviços Oferecidos</h2>
        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l4">
                    <div class="card-panel hoverable white-text" style="background: #cc3333;">
                        <h4 class="light center-on-small-only">{{ item.title }}</h4>
                        <p class="light center-on-small-only">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="center">
                <a href="mailto:{{ site.email }}" class="btn-large waves-effect waves-light"><i class="fa fa-envelope"></i> Contacte-nos</a>
            </div>
        </div>
    </div>
</section>