<div id="sobre" class="modal">
    <div class="container">
        <div class="moda-content">
            <h3 class="center-align">Quem Somos</h3>
            <p class="flow-text">
                Com intuito de criar uma marca que podesse ser constiuidas de jovens profissionais e talentosos de várias áreas tecnologicas,
                nasceu a {{ site.title }}, além de uma marca, hoje é uma STARTUP,
                que tem como principal objectivo, fornecer a STARTUPs, PMEs e o público em geral,
                acesso a diversas ferramentas e serviços tecnologicos, gratuitamante ou a preços acessíveis.
            </p>

            <p class="flow-text">
                {{ site.title }} - {{ site.description }}, oferece os seguintes serviços:
                <ul>
                    <li>Design Web & Gráfico</li>
                    <li>Análise de Sistemas</li>
                    <li>Chat online para Web Sites</li>
                    <li>Email Personalizado e profissional</li>
                    <li>Hospedagem e Domínios</li>
                    <li>Consultória</li>
                </ul>
            </p>

            <p class="flow-text">
                Estamos localizados na Cidade de Tete, em Moçambique, todavia, oferecemos suporte a nível nacional.
                Contamos com várias ferramentas que tornam os processos criativos mais rápido, produtivo e elegante.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        {% include cta.html %}
    </div>
</div>