---
title: Blog
layout: default
---

<section class="section">
    <div class="container">
        {% for post in paginator.posts %}
            <article class="card-panel hoverable row" data-aos="zoom-in-up" data-aos-duration="3000">
                <div class="col s12 l4">
                    <img data-src="{{ post.image }}?nf_resize=fit&w=250" alt="{{ post.title }}" class="lazy">
                </div>

                <div class="col s12 l8">
                    <h4 class="bolder primary-color-text">{{ post.title }}</h4>
                    <p class="thin grey-text">Publicado aos {{ post.date | date: "%d/%m/%Y" }} <br> Por: <strong>{{ post.author }}</strong></p>

                    <div class="text-justified light">
                        {{ post.content | truncatewords: 50 }}
                    </div>

                    <a href="{{ post.url }}" title="{{ post.title }}" class="btn-flat waves-effect waves-primary">Leia Mais</a>
                </div>
            </article>
        {% endfor %}

        {% include pages/pagination.html %}
    </div>
</section>