---
layout: default
---

{% include pages/masonry.html %}

<section class="section">
    <div class="container">
        <div class="masonry">
            {% for item in paginator.posts %}
                <div class="item">
                    {% if page.title == "Blog" %}
                        <a href="{{ item.url }}">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                            <h4 class="bolder primary-colo-text">{{ item.title }}</h4>
                            <div class="grey-text text-darken-4 light">
                                {{ item.content | truncatewords: 20 }}
                            </div>
                        </a>

                        {% else %}
                            <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                            <p>{% if page.title == "Logotipos" %}{{ item.title }} {% else %}{{ item.content }}{% endif %}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% include pages/pagination.html %}
    </div>
</section>