<div id="clientes" class="section scrollspy white">
    <div class="container">
        <h4 class="section-title bolder primary-color-text center-align">
            <span class="text-wrapper">
                <span class="line line1" data-aos="fade-right"></span>
                <span data-aos="zoom-in" data-aos-duration="1000">Nossos clientes</span>
                <span class="line line2" data-aos="fade-left"></span>
            </span>
        </h4>
    </div>

    <div class="row slick-clientes">
        {% for item in site.clientes.first.client %}
            <div>
                <img src="{{ item.image }}" alt="{{ item.company }}" style="width: 80px">
            </div>
        {% endfor %}
    </div>
</div>