<div class="section page-header">
    <div class="container">
        <img src="{{ site.logo }}" alt="{{ site.title }}" style="width: 20%">
        <h4 class="bolder section-title">{{ site.description }}</h4>
        <div class="light justify">
            {% for item in site.sobre limit: 1 %}
                {{ item.content }}
            {% endfor %}
        </div>
        <a href="#contactos" class="btn-large waves-effect waves-light" title="Contacte-nos">Contacte-nos <i class="far fa-envelope"></i></a>
        <a href="#servicos" class="btn-large waves-effect waves-light">Saiba Mais <i class="fas fa-chevron-down"></i></a>
    </div>
</div>