{% include home/portfolio-parallax.html %}

<section id="portfolio" class="section scrollspy">
    <div class="container bg-color">
        <div class="section-grid-no-gap">
            <article class="container">
                <h4 class="text-title">Nosso Portfólio</h4>
                <p>Aprecie nossos projectos mais recentes, entre eles de design gráfico, web entre outros...</p> 
            </article>

            <img src="/assets/img/IlustracaoServicos.svg" alt="" class="lazy hide-on-small-only">
        </div>

        <div class="section-grid-no-gap">
            <img src="/assets/img/GraphicDesigner.svg" alt="" class="lazy">

            <article class="container">
                <h4 class="text-title">Design Gráfico</h4>
                
                <p>Design Gráfico é um dos nossos maiores focos aqui na IZITech, visto que sempre fomos apaixonados pela criação de vários conteúdos criativos que contribuem na melhoria da imagem dos nossos clientes.</p>
                
                <div class="text-title">
                    <a href="/portfolio/designgrafico" class="btn waves-effect waves-light">Aprecie Nosso Portfólio</a>
                </div>
            </article>
        </div>

        <div class="section-grid-no-gap">
            <article class="container">
                <h4 class="text-title">Design Web</h4>
                
                <p>Design Web, Web Design, Páginas Web, Desenvolvimento Web, não importa qual seja o termo que esteja familiarizado, podemos garantir que a {{ site.title }} é especializada nessa área.</p> 
                
                <div class="text-title">
                    <a href="/portfolio/websites" class="btn waves-effect waves-light">Aprecie Nossos Websites</a>
                </div>
                
            </article>
            
            <img src="/assets/img/WebDesign.svg" alt="" class="lazy">
        </div>
    </div>
</section>