<section id="portfolio" class="section scrollspy grey lighten-4">
    <div class="container">
        <div class="container">
            <h4 class="section-title bolder primary-color-text center-align">
                <span class="text-wrapper">
                    <span class="line line1" data-aos="fade-right"></span>
                    <span data-aos="zoom-in" data-aos-duration="1000">Nossos Projectos</span>
                    <span class="line line2" data-aos="fade-left"></span>
                </span>
            </h4>
        </div>

        <section class="section row">
            <section class="col s12 l6">
                <p class="bolder center-on-small-only">Web Sites</p>
                {% for item in site.portfolio limit: 4 %}
                    {% if item.tag == "website" %}
                        <div class="col s6">
                            <img src="https://res.cloudinary.com/izitech/image/upload/c_scale,w_200,f_auto/{{ item.image }}" alt="{{ item.title }}" srcset="https://res.cloudinary.com/izitech/image/upload/c_scale,w_320,f_auto/{{ item.image }} 2x">
                            <a href="{{ item.link }}" class="grey-text text-darken-4">{{ item.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>

            <section class="col s12 l6">
                <p class="bolder center-on-small-only">Logotipos</p>
                {% for item in site.portfolio limit: 4 %}
                    {% if item.tag == "logotipos" %}
                        <div class="col s6">
                            <img src="https://res.cloudinary.com/izitech/image/upload/c_scale,w_200,f_auto/{{ item.image }}" alt="{{ item.title }}" srcset="https://res.cloudinary.com/izitech/image/upload/c_scale,w_320,f_auto/{{ item.image }} 2x">
                            <p class="grey-text text-darken-4">{{ item.title }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>

            <a href="/portfolio" title="Portfólio" class="btn waves-effect waves-primary">Veja Mais</a>
        </section>
    </div>
</section>