{% include home/portfolio-parallax.html %}

<section id="portfolio" class="section scrollspy">
    <div class="container bg-color">
        <div class="section-grid">
            <article class="container">
                <h4 class="text-title">Nosso Portfólio</h4>
                <p>Aprecie nossos projectos mais recentes, entre eles de design gráfico, web entre outros...</p> 
            </article>

            <img
                data-src="/assets/uploads/dsc5959.jpg?nf_resize=fit&w=320"
                alt="Portfolio"
                data-srcset="/assets/uploads/dsc5959.jpg?nf_resize=fit&h=480 2x,
                /assets/uploads/dsc5959.jpg?nf_resize=fit&h=720 3x,
                /assets/uploads/dsc5959.jpg?nf_resize=fit&h=1080 4x"
                class="lazy materialboxed">
        </div>

        <div class="section-grid">
            <img
                data-src="/assets/uploads/maningnews.png?nf_resize=fit&w=320"
                alt="Design Grafico"
                data-srcset="/assets/uploads/maningnews.png?nf_resize=fit&h=480 2x,
                /assets/uploads/maningnews.png?nf_resize=fit&h=720 3x,
                /assets/uploads/maningnews.png?nf_resize=fit&h=1080 4x"
                class="lazy materialboxed">

            <article class="container">
                <h4 class="text-title">Design Gráfico</h4>
                <p>Design Gráfico é um dos nossos maiores focos aqui na IZITech, visto que sempre fomos apaixonados pela criação de vários conteúdos criativos que contribuem na melhoria da imagem dos nossos clientes.</p>
                <a href="/portfolio/designgrafico" class="btn waves-effect waves-light">Aprecie Nosso Portfólio</a> 
            </article>
        </div>

        <div class="section-grid">
            <article class="container">
                <h4 class="text-title">Design Web</h4>
                
                <p>Design Web, Web Design, Páginas Web, Desenvolvimento Web, não importa qual seja o termo que esteja familiarizado, podemos garantir que a {{ site.title }} é especializada nessa área.</p> 
                
                <a href="/portfolio/websites" class="btn waves-effect waves-light">Aprecie Nossos Websites</a>
                
            </article>
            
            <img
                data-src="/assets/uploads/prostudio-web-screen-psd-mockup.jpg?nf_resize=fit&w=320"
                alt="Design Web"
                data-srcset="/assets/uploads/prostudio-web-screen-psd-mockup.jpg?nf_resize=fit&h=480 2x,
                /assets/uploads/prostudio-web-screen-psd-mockup.jpg?nf_resize=fit&h=720 3x,
                /assets/uploads/prostudio-web-screen-psd-mockup.jpg?nf_resize=fit&h=1080 4x"
                class="lazy materialboxed">
        </div>
    </div>
</section>