<style>
    #portfolio {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/img/parallaxIZITechMobile.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .page-header {
        background-image: linear-gradient(rgba(8,52,117,0.5), rgba(8,52,117,0.5)), url(/assets/img/pparallaxIZITechMobile.png?nf_resize=fit&h=640);
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .page-header {
            background-image: linear-gradient(rgba(8,52,117,0.5), rgba(8,52,117,0.5)), url(/assets/img/parallaxIZITechMobile.png?nf_resize=fit&h=768);
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .page-header {
            background-image: linear-gradient(rgba(8,52,117,0.5), rgba(8,52,117,0.5)), url(/assets/img/parallaxIZITech.png?nf_resize=fit&w=1024);
        }
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .page-header {
            background-image: linear-gradient(rgba(8,52,117,0.5), rgba(8,52,117,0.5)), url(/assets/img/parallaxIZITech.png?nf_resize=fit&h=992);
        }
    } 

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .page-header {
            background-image: linear-gradient(rgba(8,52,117,0.5), rgba(8,52,117,0.5)), url(/assets/img/parallaxIZITech.png?nf_resize=fit&w=1920);
        }
    }
</style>

<section id="portfolio" class="section scrollspy center">
    <div class="container">
        <h4 class="text-title white-text">Nosso Portfólio</h4>
        <p class="white-text">Aprecie nossos projectos mais recentes, entre eles de design gráfico, web entre outros...</p>

        <div class="section row">
            {% for item in site.portfolio limit: 6 %}
                <div class="col s12 l4">
                    <div class="card medium" data-aos="zoom-in" data-aos-duration="3000">
                        <div class="card-image">
                            <img 
                                data-src="{{ item.image }}?nf_resize=fit&w=320" 
                                alt="{{ item.title }}" 
                                data-srcset="{{ item.image }}?nf_resize=fit&h=480 2x,
                                {{ item.image }}?nf_resize=fit&h=720 3x,
                                {{ item.image }}?nf_resize=fit&h=1080 4x" 
                                class="lazy"
                                data-caption="{{ item.title }}">
                        </div>
    
                        <div class="card-content">
                            <h5>Projecto {{ item.category | capitalize }}:</h5>
                            <h6>{{ item.title }}</h6>
                        </div>
    
                        {% if item.category == "web" %}
                            <div class="card-action">
                                <a href="{{ item.link }}" class="btn-flat waves-effect waves-primary">Visite o site</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-title">
            <a href="/portfolio" class="btn-large waves-effect waves-light" title="Portfólio">Veja Mais</a>
        </div>
    </div>
</section>