<section id="servicos" class="section scrollspy">
    <div class="container">
        <h4 class="section-title primary-color-text center-align">Nossos Serviços</h4>

        <div class="section section-grid">
            <img src="/assets/img/IlustracaoDeServicos.svg" alt="">

            <section>
                <div class="section-grid">
                    {% for item in site.servicos limit: 4 %}
                        <div class="card-panel hoverable" data-aos="zoom-in" data-aos-duration="3000">
                                <p class="bolder primary-color-text"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>
                                <div class="justify light">
                                    {{ item.content | truncatewords: 15 }}
                                </div>
                            <a href="#servicos{{ forloop.index }}" class="secondary-color-text modal-trigger">Saiba Mais</a>
                        </div>
                    {% endfor %}
                </div>

                <div class="center">
                    <a href="#maisServicos" class="modal-trigger btn waves-effect waves-light">Saiba Mais</a>
                </div>

                <div class="modal" id="maisServicos">
                    <div class="modal-content container section-grid">
                        {% for item in site.servicos offset: 4 %}
                            <div class="card-panel hoverable" data-aos="zoom-in" data-aos-duration="3000">
                                    <p class="bolder primary-color-text"><i class="fas fa-{{ item.icon }}"></i> {{ item.title }}</p>
                                    <div class="justify light">
                                        {{ item.content | truncatewords: 15 }}
                                    </div>
                                <a href="#servicos{{ forloop.index }}" class="secondary-color-text modal-trigger">Saiba Mais</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include home/servicosModal.html %}
</section>