<section id="servicos" class="section scrollspy grey lighten-4">
    <div class="container">
        <div class="container">
            <h4 class="section-title bolder primary-color-text center-align">
                <span class="text-wrapper">
                    <span class="line line1" data-aos="fade-right"></span>
                    <span data-aos="zoom-in" data-aos-duration="1000">Nossos Serviços</span>
                    <span class="line line2" data-aos="fade-left"></span>
                </span>
            </h4>
        </div>

        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l4" data-aos="zoom-in" data-aos-duration="3000" style="padding: 5px">
                    <i class="fas fa-2x fa-{{ item.icon }} primary-color-text"></i>
                    <br>
                    <p class="bolder grey-text text-darken-4">{{ item.title }}</p>
                    <div class="justify light">
                        {{ item.content | truncatewords: 18 }}
                    </div>
                    <a href="#servicos{{ forloop.index }}" class="secondary-color-text modal-trigger">Saiba Mais</a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include home/servicosModal.html %}
</section>