<section id="servicos" class="section scrollspy">
    <div class="container">
        <div class="container">
            <h4 class="section-title bolder primary-color-text center-align">
                <span class="text-wrapper">
                    <span class="line line1" data-aos="fade-right"></span>
                    Nossos Serviços
                    <span class="line line2" data-aos="fade-left"></span>
                </span>
            </h4>
        </div>

        {% for item in site.servicos limit: 3 %}
            <section class="row">
                <div class="col s12 l6" data-aos="fade-right">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </div>
                <div class="col s12 l6 justify" data-aos="fade-left">
                    <h5>{{ item.title }}</h5>
                    <div class="light">
                        {{ item.content }}
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
</section>