{% for item in site.servicos %}
    <div id="servicos{{ forloop.index }}" class="modal">
        <div class="modal-content">
            <div class="container">
                <h5 class="center text-title">
                    <i class="fas fa-{{ item.icon }}"></i>
                    <br>
                    {{ item.title }}
                </h5>
                
                <div class="light">
                    {{ item.content }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}