<section id="sobre" class="section scrollspy white">
    <div class="container">
        <div class="row">
            {% for item in site.sobre %}      
                <div class="col s12 l4" data-aos="fade-left" data-aos-duration="3000">
                    <div class="card-panel hoverable primary-color white-text" style="background: #8d032a">
                        <h4 class="bolder">{{ item.title }}</h4>
                        <div class="justify light">
                            {{ item.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>